/* css styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

pre code, pre.sourceCode * {
  font-family: 'IBM Plex Mono', monospaced !important;
  font-weight: 500;
}

pre.text code {
  background-color: #D3D3D3;
  overflow: auto;
 }

pre.shell code {
  padding: 2%;
  background-color: rgba(233,236,239,.65);
  color: #003B4F;
  line-height: 120%;
  overflow: auto;
}

@media print {
  @page {
      margin: 2cm;
      background-color: white;
      body {
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }
}
