@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p, div, ul, h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif !important;
}

pre.shell code {
  border-radius: 25px;
  padding: 2%;
  background-color: black;
  color: white;
  line-height: 120%;
  overflow: auto;
}

@media print {
  @page {
      margin: 2cm;
      background-color: white;
      body {
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }
}